@page "/Customers/List"
@using BlazorLoginSocial.Domain.Entities
<!-- Striped Rows -->
<div class="col-xl-12">
    <div class="card">
        <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">Lista de Clientes</h4>
        </div>

        <div class="card-body">
            <div class="table-responsive table-card">
                <table class="table table-hover table-centered align-middle table-nowrap mb-0">
                    <thead>
                        <tr>


                            <th scope="col">Nome</th>
                            <th scope="col">Cidade</th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customer in _customers)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-sm bg-light rounded p-1 me-2">
                                            <img src="@customer.ImageUrl" alt="" class="img-fluid d-block">
                                        </div>
                                        <div>
                                            <h5 class="fs-14 my-1"><a href="apps-ecommerce-product-details.html" class="text-reset">@customer.Name</a></h5>
                                            <span class="text-muted">FEBRABAN: @customer.Febraban</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="fs-14 my-1 fw-normal">@customer.TownName - @customer.State</h5>
                                </td>

                                <td>
                                    <div class="fs-14 my-1 fw-normal">
                                        <div class="hstack flex-wrap">
                                            <div class="select mx-1">
                                                <button class="btn btn-sm btn-soft-info edit-item-btn" data-bs-toggle="modal" data-bs-target="#showModal">
                                                    <i class=" ri-arrow-right-circle-line"></i> Selecionar
                                                </button>
                                            </div>

                                            <div class="edit mx-1">
                                                <button class="btn btn-sm btn-soft-success edit-item-btn" data-bs-toggle="modal" data-bs-target="#showModal">
                                                    <i class="ri-edit-2-line"></i> Editar
                                                </button>
                                            </div>

                                            <div class="edit mx-1">
                                                <button class="btn btn-sm btn-soft-danger edit-item-btn" data-bs-toggle="modal" data-bs-target="#showModal">
                                                    <i class="ri-edit-2-line"></i> Deletar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="align-items-center mt-4 pt-2 justify-content-between row text-center text-sm-start">
                <div class="col-sm">
                    <div class="text-muted">
                        Showing <span class="fw-semibold">5</span> of <span class="fw-semibold">25</span> Results
                    </div>
                </div>
                <div class="col-sm-auto  mt-3 mt-sm-0">
                    <ul class="pagination pagination-separated pagination-sm mb-0 justify-content-center">
                        <li class="page-item disabled">
                            <a href="#" class="page-link">←</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">1</a>
                        </li>
                        <li class="page-item active">
                            <a href="#" class="page-link">2</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">3</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">→</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

@code {
    private IEnumerable<Customer> _customers = Array.Empty<Customer>();

    protected override void OnInitialized()
    {
        _customers = new List<Customer>()
        {
            new(){
                Id = Guid.NewGuid(),
                Name = "PREFEITURA MUNICIPAL DE PIQUET CARNEIRO - CE",
                TownName = "PIQUET CARNEIRO",
                State = "CE",
                ImageUrl = "https://i.imgur.com/joZXZJp.jpg",
                Febraban = "3033"
            },
             new(){
                Id = Guid.NewGuid(),
                Name = "PREFEITURA MUNICIPAL DE INDEPENDÊNCIA - CE",
                TownName = "INDEPENDÊNCIA",
                State = "CE",
                ImageUrl = "https://i.imgur.com/jjjkxpi.png",
                Febraban = "0088"
            },
              new(){
                Id = Guid.NewGuid(),
                Name = "PREFEITURA MUNICIPAL DE ALCÂNTARAS - CE",
                TownName = "ALCÂNTARAS",
                State = "CE",
                ImageUrl = "https://i.imgur.com/mdAcQjf.png",
                Febraban = "1427"
            },
        };
    }



}
